.body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* CSS Smooth Scroll */
  overflow-x: hidden;
  overflow-y: scroll; 
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.navbar {
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: black;
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li {
  display: inline-block;
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
}

.navbar ul li a:hover {
  color: skyblue;
}

.carousel{
	margin-top: 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;

 
  /* Scroll Snap */
  scroll-snap-align: center;
}

.row{
	margin-left: 20px;
	margin-right: 20px;
}


